<h1><strong>Welcome to Money Cashboard!</strong></h1>

<h2>WHAT WOULD YOU LIKE TO DO TODAY?</h2>


<h2><a href="/transactions">See All Transactions</a></h2>

<h2><a href="/transaction/new">Save New Transaction</a></h2>

<h2><a href="/merchant/new">Save New Merchant</a></h2>