<h1><strong>Welcome to MoneyCashboard!</strong></h1>

<h3>CURRENT SPEND TOTAL: £<%= Transaction.total %></h3>
<h3>BUDGET: </h3>


<h3>WHAT WOULD YOU LIKE TO DO TODAY?</h3>

<h3>Key functions:</h3>

<h3><a href="/transactions">All Transactions</a></h3>

<h3><a href="/tags">Transactions Breakdown by Tag</a></h3>

<h3><a href="/merchants">Transactions Breakdown by Merchant</a></h3>

<h3><a href="/transaction/new">New Transaction</a></h3>

<h3><a href="/merchant/new">New Merchant</a></h3>