

<div class="cell"> 

  <h2><strong>CURRENT SPEND (rounded-up): £<%= Transaction.total %> </strong></h2>
  <h3>BUDGET: <strong>£<%= User.total %> </strong>  <a href="/user/1">update</a></h3>

  <h3>BUDGET REMAINING: <strong>£<%= User.total - Transaction.total %></strong></h3>
</div>

<div class="cell">
<h3>WHAT WOULD YOU LIKE TO DO?</h3>

  <h3><a href="/transactions">All Transactions</a></h3>

  <h3><a href="/tags">Transactions Breakdown by Tag</a></h3>

  <h3><a href="/merchants">Transactions Breakdown by Merchant</a></h3>

  <h3><a href="/transaction/new">New Transaction</a></h3>

  <h3><a href="/merchant/new">New Merchant</a></h3>
</div>



