
<h2>Add New Merchant:</h2>

<form action="/merchants" method="POST">
<label for="name">Name:</label>
  <input type="text" id="name" name="name">

<label for="location">Location:</label>
  <input type="text" id="location" name="location">

<input type="submit" value="Save">

</form>