<div class="cell"> 

<h3>Add New Merchant:</h3>

<form action="/merchants" method="POST">

<div>
<label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
</div>

<div>
<label for="location">Location:</label>
  <input type="text" id="location" name="location" required>
</div>

<input type="submit" value="Save">

</form>
</div>  
