
<h2>Add New Merchant:</h2>

<form action="/merchants" method="POST">

<div>
<label for="name">Name:</label>
  <input type="text" id="name" name="name">
</div>

<div>
<label for="location">Location:</label>
  <input type="text" id="location" name="location">
</div>

<input type="submit" value="Save">

</form>