<div class="cell"> 

<h3>Merchant Profile</h3>

<p>Name: <strong><%= @merchants.name%></strong></p>
<p>Location: <%= @merchants.location%></p> 

<div>
<form action="/merchant/<%= @merchants.id %>/edit" method="GET">
  <input type="submit" value="Edit Merchant">
</form>
</div>

<div>
<form action="/merchant/<%= @merchants.id %>/delete" method="POST">
  <input type="submit" value="Delete Merchant">
</form>
</div>

</div>  
