<div class="cell"> 

<div class="link"><h3><a href="/merchant/new">Save New Merchant</a></h3></div>  


<h2>Merchants:</h2>

<% @merchants.each do |merchant| %>
  <p><strong><%= merchant.name%></strong></p>
  <p>Location: <strong><%= merchant.location%></strong></p>
  <p>Current spend by Merchant: <strong>£<%= Transaction.total_by_merchant(merchant.id) %></strong></p>
  <h4><a href="/merchant/<%=merchant.id%>">Merchant Profile</a></h4>
  <hr />
<% end %>
</div>


