

<h3><a href="/tag/new">Save New Tag</a></h3>

<h2>All Tags:</h2>

<% @tags.each do |tag| %>
  <h4><strong><%= tag.name%></strong></h4>
  <p>Current spend by tag: <strong>£<%= Transaction.total_by_tag(tag.id) %></strong></p>
  <h4><a href="/tag/<%=tag.id%>">Tag Profile</a></h4>
  <hr />
<% end %>

