<div class="cell"> 

<h3>Add New Tag:</h3>

<form action="/tags" method="POST">
  <div>
  <label for="name">Name:</label>
  <input type="text" id="name" name="name" required>
  </div>


<input type="submit" value="Save">

</form>
</div>  