<form action="/tag/<%= @tag.id%>" method="POST">
    <label for="name">Name:</label>
    <input type="text" id= "name" name="name" value="<%= @tag.name %>">

    <input type="submit" value="Update">
</form>