
<h2>Add New Transaction:</h2>

<form action="/transactions" method="POST">
  <div>
  <label for="value">Enter Value (will round):</label>
  <input type="number" step="any" id="value" name="value">
  </div>
  
  <div>
  <label for="date_id">Enter Date:</label>
  <input type="date" id="date_id" name="date_id">
  </div>

  <div>
  <label for="comment">Enter Comment:</label>
  <input type="text" id="comment" name="comment">
  </div>
  
  <div>
  <label for="tag_select">Select Transaction tag: </label> 
  <select name="tag_id" id="tag_select"><% @tags.each do |tag| %>
    <option value="<%= tag.id%>"><%=tag.name%></option>
    <% end%>
  </select> 
  <a href="/tag/new">new</a>
  </div>

  <div>
  <label for="merchant_select">Select Merchant: </label>
  <select name="merchant_id" id="merchant_select"><% @merchants.each do |merchant| %>
    <option value="<%= merchant.id%>"><%=merchant.name%></option>
    <% end%>
  </select>
  <a href="/merchant/new">new</a> 
  </div>

<input type="submit" value="Save">

</form>



