<h1>Transaction Info</h1>

<p>Value: <strong><%= @transactions.value%></strong></p>
<p>Comment: <%= @transactions.comment%></p> 
<p>Tag ID: <%= @transactions.tag_id %></p>
<p>Merchant ID: <%= @transactions.merchant_id%></p> 