<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="styles.css"/>
</head>
<body>  
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/transactions">Transactions</a></li>
      <li><a href="/merchants">Merchants</a></li>
      <li><a href="/tags">Tags</a></li>
      <li><a href="/user/1">Budget</a></li>
    </ul>
  </nav>
<%= yield%>
</body>
</html>